/* Estilo general del cuerpo */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;
    background: #b9ebe5;
}

/* Estilo del encabezado */
.jumbotron {
    background-image: url(../Imagenes/Generales/fondocabecera2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	padding: .25em 0em 1em 0em;
}

/* Foto del encabezado */
#encabezado img {
    width: 11%;
    height: 100%;
    float: left;
}

/* Títulos del encabezado */
#titulos-encabezado h1, #titulos-encabezado h2, #titulos-encabezado h3 {
    margin: .5em;
    padding: 0;
    font-family: 'Lucida Grande';
    text-align: center;
}

/* Estilo itálico de los parrafos*/
p {
    font-style: italic;
}

/* Estilo itálico de las listas*/
ul {
    font-style: italic;
}

a {
  color: rgb(9, 9, 214);  
}

/* Estilo del pie de página */
#pie-pagina {
    background-color: rgb(72, 198, 233);
    color: black;
}

