
/* Estilo general del encabezado */
#encabezado {
    background-image: url(../Imagenes/Generales/fondocabecera2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;    PROBAR ESTO QUE SE MIRA INTERESANTE*/
    padding: 1em 2em;
    height: 13em;
}




/* Estilo general de todas las secciones */
#contenedor-principal, #contenedor-menu, #pie-pagina {
    padding: 1em 2em;
    float: left;  /* es para que se acomoden o alinien adecuadamente */
    box-sizing: border-box; /* para hacer que mantengan su tamaño definido sin tener que expandirse mas */
}

#contenedor-principal {
    width: 75%;
    background-color: rgb(16, 112, 238);
}

.post {
    background-color: rgb(117,255,26, 0.46);
    height: 100px;
    margin-bottom: 1em;
}

.contenedor-menu {
    width: 25%;
    background-color: rgb(15, 187, 240);
    height: 444px;
}

/* Estilos de las opciones del listado no ordenado */
.contenedor-menu ul {
    margin-left: 1em;
    padding: 0;
}

.contenedor-menu li {
    list-style: none;
    padding: 0.5em 0;
}
.contenedor-menu a {
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    color: black;
    text-align: center;
}

.contenedor-menu a:hover{
    border: 1px solid blue;
    border-radius: 10px;
    background-color: gainsboro;
}


.pie-pagina {
    width: 100%;
    background-color: rgb(0,0,0);
    height: 50px;
}



/* 
@media screen and (min-width: 780px) and (max-width: 1024px) {
    .encabezado {
        background-color: red;
    }

    .contenedor-principal, .contenedor-menu {
        width: 50%;
    }
 }

@media screen and (min-width: 480px) and (max-width: 780px) {
     .encabezado {
        height: 160px;
    }

    .encabezado img {
        width: 7em;
    }
    
    .contenedor-principal, .contenedor-menu {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .encabezado {
        height: 160px;
    }

    .encabezado img {
        width: 7em;
    }
    
    .titulos-encabezado h1, .titulos-encabezado h2, .titulos-encabezado h3 {
        color: white;
    }
    
    .contenedor-principal {
        background-color: rgb(250,250,168);
    }

    .contenedor-principal, .contenedor-menu {
        width: 100%;
        background-color: brown;
    }
}
*/

